*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro';
}

html, body{
    overflow-x: hidden;
    /* position: relative; */
    width: 100%;
}

.color-overlay1{
    background: url('../images/mysec-bg.svg') no-repeat ;
    background-size: cover;
    background-position: center;
    position : absolute;
    /* display: flex; */
    width: 50%;
    height: 50%;
    top:0;
    right: -100px;
    z-index: 1;
    transform: rotate(180deg);
    /* opacity: 0.1; */
}

.hero-right{
    z-index: 2;
    /* position: relative; */
}

/*Favours part starts here*/
.section-four{
    background-color: white;
}

.section-four .part-one{
    font-weight: 400px;
    text-align: center;
    margin-top: 40px;
}

.section-four .part-two{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
  
}

.section-four .part-two .people{
    background: hsl(0, 0%, 98%);
    width:80%;
    height: 100%;
    margin: 10px;
    padding: 35px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin: 20px;
    font-weight: 500;
}

.section-four .part-two .people:hover{
    box-shadow: 0 5px 5px rgba(1 1 1 /15%);
}

.section-four .part-two .people .info{
    text-align: center;
    font-size: 13px;
    color:hsl(0, 0%, 54%);
    font-weight: 400;
    /* width: 350px; */
}
 
.section-four .part-two .people .img{
   height: 60px;
   width: 50px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   object-fit: fill;
   margin-top: -55px;
}

.section-four .part-two .people h4{
    margin-bottom: 20px;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    color: #242D52;
}
.people{
    background-color: hsl(227, 12%, 61%);
}
.section-four button{
    background: hsl(12, 88%, 59%);
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    font-weight: 400;
}

.owl-prev, .owl-next{
    display: none !important;
}
/*Favours part ends here*/



.container{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.third{
    width: 40%;
    padding: 3rem 0 0 5rem;
}

.third1{
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.fourth{
    width:40%;
}
.bullet{
    float: left;
    margin-left: -60px;
    width: 50px;
    height: 30px;
    background-color: #f25f3a;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    color:  hsl(0, 0%, 98%);
    
}

.fourth{
    padding: 3rem 5rem 0 0;
}

.bulletheader{
    font-weight: 700;
    color: hsl(233, 12%, 13%);
    margin: 1rem 0;
}

.fourth1, .fourth2, .fourth3{
    margin:2rem 0;
}

.secondSectionTexts{
    color:hsl(0, 0%, 69%);
    font-weight: 400;
    font-size: 14px;
}
/*Franklin parts starts here*/
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo img{
    width: 150px;
}

header

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: hsl(227, 12%, 61%);
    padding-top: 1.5em;
}
.nav-links{
    display: flex;
   width: 100%;
    justify-content: space-around;
}
.nav-links li{
    list-style: none;
    padding: 12px;
}
.nav-links li a{
    font-weight: bold;
    text-decoration: none;
    color: hsl(226, 8%, 40%);
    font-size: 15px;

}
.nav-links li a:hover{
    color: hsl(227, 18%, 90%);
}
.nav_btn button{
    background-color: hsl(12, 88%, 59%);
    padding: 12px 20px;
    border: none;
    color: hsl(0, 7%, 92%);
    border-radius: 6pc;
    font-weight: bold;
    outline: none;
}
.nav_btn button:hover{
    opacity: .9;
    box-shadow: 0 10px 15px rgba(65, 65, 65, 0.61);
}
.ham-buger{
    display: none;
}

header{
    /* background:  hsl(0, 0%, 98%); */
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
}
section .hero-section{
/*    font-family: 'Lobster', cursive;*/
    font-family: 'Be Vietnam Pro', sans-serif;
    padding: 1.5em;
    /* background:  hsl(0, 0%, 98%); */
    height: 100%;
}

.hero-section img{
    width: 80%;
    margin-top: 5em;
}

.hero-p{
    width: 400px;
    font-size: 16px;
    line-height: 25px;
    color:  hsl(227, 12%, 61%);
    margin: .3em;
}

.hero-heading{
  padding-top: 3em;
    font-size: 2.5em;
    width: 350px;
    font-weight: 700;
    color:#242D52;
    padding-bottom: 1em; 
}

.hero-left{
    padding: 1.5em;
}

.hero-section{
 text-align: left;
}
.hero-container{
    display: flex;
    justify-content: space-around;
    margin-top: 2.7em;
}

.hero-button{
    padding: 12px 20px;
    border: none;
    outline: none;
    background-color:  hsl(12, 88%, 59%) ;
    color: whitesmoke;
    font-size: .8em;
    font-weight: bold;
    border-radius: 5pc;
    margin: .5em;
    cursor:pointer;
}

.hero-button:hover{
    opacity: .9;
    box-shadow: 0 10px 15px rgba(65, 65, 65, 0.61);
}

.closeNav{
    display: none;
}

.footer2{
    padding: 40px !important;
}

.footer-menu{
    display: flex;
    gap: 18rem;
}

.copy-right-bottom{
    display: none;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.footer-socials-div {
    margin-top: 60px !important;
}

.p_one {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.hero-left2{
    display: none;
}

@media only screen and (max-width:768px) and (min-width:481px) {
   
    nav {
        position: relative;
        justify-content: space-between;
        padding: 1.5em;
        margin-top: 10px;
    }

    header{
        width: 100%;
    }

    .hero-container{
        margin-top: 0;
    }
   
    .nav_btn button{
        display: none;
    }
    .logo img{
        width: 100px;
    }
    .nav-links{
        position: absolute;
        margin: 0 auto;
        left: 50%;
        text-align: center;
        width: 70%;
        border-radius: 10px;
        padding: 1rem;
        right: 0;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 255, 255);
        flex-direction: column;
        z-index: 10;
        top: -200px;
        transition: .5s;
        box-shadow: 0px 20px 50px rgb(121, 121, 121);
        /* padding:5%;
        background-color: rgba(12, 11, 11, 0.932);
        color: white;
        width: 50%;
        margin-top: 5%;
        border-radius: 10px;
        position: absolute;
        right: 70px;
        top: 50%;
        flex-direction: column;
        transform: translateY(-390px);
        text-align: center;
        transition: transform 1s ease-in; */

    }

    .ham-buger{
        display: block;
        cursor: pointer;
    }
    .nav-links li a{
        color: rgba(27, 27, 27, 0.918);
    }
 
    .hero-container{
        text-align: center;
        flex-direction: column-reverse;
    }
    .hero-p{
        width: 450px;
        letter-spacing: 1px;
        padding: 14px;
        margin: 0 auto;

    }
    .hero-heading{
        width: 400px;
        margin: 0 auto;
        padding-top: 0em;
    }


    .hero-img{
        margin-bottom: .9rem;
        margin-top: -3em;
    }
  
    .section-four .part-two .people{
        background: hsl(0, 0%, 98%);
        width:100%;
        height: 100%;
    
        padding: 35px;
      
        flex-direction: column;
        font-weight: 500;
      
    }
    
    .section-four .part-two .people .info{
        font-size: 11px;
        width: 100%;
        margin: 0 auto;
    }

    .bullet{
        float: left;
        margin-left: 0;
        margin-right: 1rem;
    }

    .container{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .fourth{
        padding: 1rem 0 0 0;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .third{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 3rem 0 0 0;
        text-align: center;
    }

    .bulletheader{
        background-color: #FFF0EC;
        padding: 5px;
        border-radius: 15px 0 0 15px;
    }

    .footer2{
        flex-direction: column-reverse;
        margin: 0 auto;
        padding-bottom: 1rem !important;
    }

    .footer-logo{
        text-align: center;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .footer-menu{
        display: flex;
        gap: 10rem;
        padding: 1rem 0;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .copy-right{
        position: absolute;
        bottom: 0px;
        transform: translate(-50%, -50%);
        left: 50%;
    }

}
@media only screen and (max-width:481px) and (min-width:320px) {
   
    nav {
        position: relative;
        justify-content: space-between;
        padding: 1em;
    }
   
    .nav_btn button{
        display: none;
    }
    .logo img{
        width: 100px;
    }
    .nav-links{
        position: absolute;
        margin: 0 auto;
        left: 50%;
        text-align: center;
        width: 70%;
        border-radius: 10px;
        padding: 1rem;
        right: 0;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 255, 255);
        flex-direction: column;
        z-index: 10;
        top: -200px;
        transition: .5s;
        box-shadow: 0px 20px 50px rgb(121, 121, 121);
        /* padding:5%;
        color: white;
        width: 50%;
        margin-top: 5%;
        border-radius: 10px;
        position: absolute;
        right: 70px;
        top: 50%;
        flex-direction: column;
        transform: translateY(-390px);
        text-align: center;
        transition: transform 1s ease-in; */
    }
    .ham-buger{
        display: block;
        cursor: pointer;
    }

    .nav-links li a{
        color: rgba(27, 27, 27, 0.918);
    }
 
    .hero-container{
        text-align: center;
        flex-direction: column-reverse;
    }

    .hero-p{
        width: 300px;
        letter-spacing: 1px;
        padding: 14px;
        margin: 0 auto;
    }

    .hero-heading{
        width: 300px;
        margin: 0 auto;
        padding-top: 0em;
    }

    .hero-img{
        margin-bottom: .9rem;
        margin-top: -3em;
    }

    .container{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .fourth{
        padding: 1rem 0 0 0;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .third{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 3rem 0 0 0;
        text-align: center;
    }

    .bullet{
        float: left;
        margin-left: 0;
        margin-right: 1rem;
    }
  
    .section-four .part-two .people{
        background: hsl(0, 0%, 98%);
        width:100%;
        height: 100%;
        padding: 35px;
        flex-direction: column;
        font-weight: 500;
    }
    
    .section-four .part-two .people .info{
        font-size: 11px;
        width: 100%;
        margin: 0 auto;
    }
}
.active{
    transform: translateY(20px);
    transition: transform .5s ease-in;
}
/* .main-drop{
    top:-20px;
    transition: transform .5s ease-in-out;
} */
/* Franklin CSS ends here*/

/*Emerie's part starts here*/
.footer2 {
    background-color: hsl(233, 12%, 13%);
    /* height: 150px; */
    display: flex;
    padding: 30px;
    justify-content: space-between;
    color: white;
    width: 100%;
    z-index: 2;
    position: relative;
    margin: 0 auto;
}

.footer-menu a {
    color: #fff;
    text-decoration: none;
}

.footer-menu a:hover {
    color: hsl(12, 88%, 59%);
}

.footer-socials-div a:hover{
    color: hsl(12, 88%, 59%);
}

/* .footer-menu1 {
    margin-left: 100px;
} */

.footer2 li {
    list-style: none;
    margin: 0 0 10px 0; 
}

.footer-form{
    text-align: center;
    /* display: block !important; */
}

.footer-form input{
    height: 30px;
    width: 230px;
    border-radius: 16px;
    text-align: left;
    border: none;
    padding: 3px;
}

.footer-form .button {
    background: hsl(12, 88%, 59%);
    color: #fff;
    height: 30px;
    width: 60px;
    border-radius: 16px;
    border: none;
}

.footer-socials-div {
    margin-top: 10px;
}

.footer-form h6 {
    margin-top: 30px;
    /* margin-left: 60px; */
}

.social-icon {
    margin: 3px;
}
/*Emerie's part ends here*/

/* Sthink Section */

 .sec_four{
    background: #ff4213;
    width: 100%;
    /* height: 120px; */
    position: relative;
    margin-top: 50px;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
}

.p_two {
    display: none;
}

.color-overlay {
    background: url('../images/mysec-bg.svg') no-repeat ;
    background-size: 24% auto;
    background-position: 16% 16%;
    position : absolute;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 0.1;
 }

 .color-over_sec {
    background: url('../images/mysec-bg.svg') no-repeat ;
    background-size: 24% auto;
    background-position: 116% 108%;
    position : absolute;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 0.1;
 }

.all {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    height : auto;
    width: 80%;
    z-index: 50;
    margin: auto;
    padding: 24px 0;
}

 .xpara {
    color: white;
    font-weight: 600;
    font-size: 1.4em;
}

.bottomButton {
    color: #ff6308;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 50px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1.5rem;
    cursor: pointer;
}

@media only screen and (max-width:768px) and (min-width:481px){
    .all {
        display: flex;
        flex-flow: column-reverse nowrap;
        justify-content: space-between;
        align-items: center;
        height : auto;
        width: 80%;
        z-index: 50;
        margin: auto;
    }

    .p_one {
        display: none;
    }

    .p_two {
        display: flex;
        width: 90%;
        margin: 12px auto 24px auto;
        font-size: 2.2em;
        text-align: center;
        font-weight: 700;
        color: #fff;
    }


    .sec_four{
        width: 100%;
        /* height: 220px; */
        position: relative;
        margin-top: 32px;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .color-overlay {
        background: url('../images/mysec-bg.svg') no-repeat ;
        background-size: 55% auto;
        background-position: -100% -5%;
        position : absolute;
        display: flex;
        width: 100%;
        height: 100%;
        opacity: 0.1;
     }

    .color-over_sec {
        display: none;
    }

    button {
        font-weight: 600;
    }

}

@media only screen and (max-width:481px) and (min-width:320px) {
    .all {
        display: flex;
        flex-flow: column-reverse nowrap;
        justify-content: space-between;
        align-items: center;
        height : auto;
        width: 80%;
        z-index: 50;
        margin: auto;
    }

    .p_one {
        display: none;
    }

    .p_two {
        display: flex;
        width: 80%;
        margin: 12px auto 24px auto;
        font-size: 1.4em;
        font-weight: 700;
        color: #fff;
    }


    .sec_four{
        width: 100%;
        /* height: 220px; */
        position: relative;
        margin-top: 32px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .color-overlay {
        background: url('../images/mysec-bg.svg') no-repeat ;
        background-size: 55% auto;
        background-position: -100% -5%;
        position : absolute;
        display: flex;
        width: 100%;
        height: 100%;
        opacity: 0.1;
     }

    .color-over_sec {
        display: none;
    }

    .get_button {
        font-weight: 600;
    }

}


@media screen and (max-width:320px) {
    .nav-links{
        position: absolute;
        margin: 0 auto;
        left: 50%;
        text-align: center;
        width: 70%;
        border-radius: 10px;
        padding: 1rem;
        right: 0;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 255, 255);
        flex-direction: column;
        z-index: 10;
        top: -200px;
        transition: .5s;
        box-shadow: 0px 20px 50px rgb(121, 121, 121);
    }

    .nav_btn{
        display: none;
    }

    .ham-buger{
        display: block;
    }

    .nav-links li a{
        color: rgba(27, 27, 27, 0.918);
    }

    .all {
        flex-direction: column-reverse;
    }
    .container{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .third1{
        font-size: 1.8rem;
        color:#242D52;
    }
    .third{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 3rem 0 0 0;
        text-align: center;
    }
    .fourth{
        padding: 1rem 0 0 0;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .bullet{
        float: left;
        margin-left: 0;
        margin-right: 1rem;
    }

    .hero-container{
        text-align: center;
        flex-direction: column-reverse;
    }

    .hero-heading{
        padding-top: 0;
        font-size: 2em;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        color:#242D52;
        padding-bottom: 1em;
        text-align: center;
      }

      .hero-left{
        display: none;
    }

    .hero-heading2{
        font-weight: 700;
        color:#242D52;
        margin:0 5px 25px 5px;
        font-size: 1.5em;
    }

    .hero-p2{
        margin:0 10px 25px 5px;
        color:  hsl(227, 12%, 61%);
    }

    .hero-img{
        margin-bottom: 0;
        margin-top: 0;
    }

    .hero-left2{
        display: block;
    }

    .footer2{
        flex-direction: column-reverse;
        margin: 0 auto;
        padding-bottom: 1rem !important;
    }

    .footer-logo{
        text-align: center;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .footer-menu{
        display: flex;
        gap: 5rem;
        padding: 1rem 0;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .copy-right{
        position: absolute;
        bottom: 0px;
        transform: translate(-50%, -50%);
        left: 50%;
    }
    form{
        display: flex;
        gap: 10px;
    }
}
/* @sthink stopped here */